{% extends "base.html" %}
{% block title %}查询{% endblock %}
{% block content %}


<div id="body">
    <div class="from">
        <form method="POST">
            {{form.csrf_token()}}
            {{form.word.label}}{{form.word}}
            {{form.submit}}<br>

        </form>
    </div>
    <div class="words">

        <ul>
            {%for message in get_flashed_messages()%}
            {{message}}
            {%endfor%}
            {%for w in words%}
            <hr>
            <li><b>单词：</b>{{w.word}}&nbsp;&nbsp;<a href="{{url_for('delete_word',delete_word=w.word)}}"><span><img
                            src="\static\image\删除0_25.png" alt="删除" title="删除" /></span></a>
            </li>
            <li><b>音标：</b>{{w.IPA}}&nbsp;&nbsp;<a href="javascript:void(0);"
                    onclick="js_method('{{w.word}}')"><span><img class="but" src="\static\image\小喇叭4_23x19.png" alt="发音"
                            title="发音" /></span></a>
                
            </li>
            <li><b>释义：</b>{{w.paraphrase}}
            </li>
            <li><b>例句：</b>{{w.example_sentence}}
            </li>
            <li><b>其它：</b>{{w.other}}
            </li>
            {%endfor%}
        </ul>
    </div>
</div>

<div id="footer">
    我是脚部文件的显示的内容
</div>

{% endblock %}